.highlighted {
  color: #FF9A1E;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.75rem;
  box-shadow: 0px 0px 0.5rem rgba(20, 20, 20, 0.35);
  -webkit-animation: popup 0.2s linear forwards;
          animation: popup 0.2s linear forwards;
  opacity: 0;
  width: 22.5%;
}

@-webkit-keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-card-image {
  display: flex;
  align-items: center;
  height: 60%;
}

.menu-card img {
  max-width: 12.5rem;
  max-height: 12.5rem;
  aspect-ratio: auto;
}

.menu-card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-card-upper-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}
.menu-card-upper-row span {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.menu-card-upper-row span:nth-child(2) {
  display: none;
}

.menu-card-bottom-row {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.menu-card-bottom-row-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  font-size: 1rem;
}

.menu-card-bottom-row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
}

.menu-card button {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  background-color: #FF9A1E;
  font-size: 1.35rem;
  font-family: Nunito-Bold;
}

.menu-card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 85%;
  gap: 0.5rem;
}
.menu-card-buttons .menu-details-button {
  border-radius: 5rem;
  background-color: #FF9A1E;
  color: #2D2D2D;
  font-size: 2.25rem;
  padding: 0.5rem;
}
.menu-card-buttons .menu-details-button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.menu-inspect-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}
.menu-inspect-container .menu-inspect-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 95%;
  width: 95%;
  padding: 2.5%;
  background-color: rgba(245, 245, 245, 0.98);
  border: 0.5rem solid #FF9A1E;
  border-radius: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-close-icon {
  position: absolute;
  font-size: 5rem;
  right: 5vh;
  top: 2.5vh;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-close-icon:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.menu-inspect-container .menu-inspect-content .menu-inspect-image-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 90%;
  gap: 1rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-image-section .menu-inspect-image-large-image {
  display: flex;
  justify-content: center;
  max-height: 90%;
  width: 100%;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-image-section .menu-inspect-image-large-image img {
  max-width: 60%;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-image-section .menu-inspect-image-mini-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-content: center;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-image-section .menu-inspect-image-mini-images img {
  max-width: 80%;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45%;
  font-size: 1.2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section h1 {
  font-family: Nunito-ExtraBold;
  max-width: 85%;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-ratings {
  display: flex;
  gap: 2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-ratings .menu-inspect-description-review-count {
  font-family: Nunito-SemiBold;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-price-section {
  display: flex;
  gap: 2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-price-section span:nth-child(1) {
  font-family: Nunito-ExtraBold;
  font-size: 1.75rem;
  color: #2D2D2D;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-price-section span:nth-child(2) {
  text-decoration: line-through;
  font-size: 0.9rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-price-section span:nth-child(3) {
  font-family: Nunito-Bold;
  color: #FF9A1E;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section h2 {
  font-family: Nunito-ExtraBold;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section button {
  display: flex;
  justify-content: center;
  background-color: #FF9A1E;
  max-width: 50%;
  padding: 1rem;
  border-radius: 1rem;
  font-family: Nunito-ExtraBold;
  font-size: 1.2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-sizes {
  display: flex;
  gap: 2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-sizes button {
  gap: 2rem;
  padding: 1rem 1.4rem;
  font-size: 1.1rem;
  background-color: #FEB45A;
  font-family: Nunito-ExtraBold;
  border-radius: 5rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section {
  display: flex;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section .menu-inspect-description-main-quantity-setquantity {
  background-color: #FEB45A;
  display: flex;
  gap: 1rem;
  border-radius: 5rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section .menu-inspect-description-main-quantity-setquantity span {
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background-color: #FEB45A;
  font-family: Nunito-ExtraBold;
  font-size: 1.25rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section .menu-inspect-description-main-quantity-setquantity button {
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background-color: #FEB45A;
  font-family: Nunito-ExtraBold;
  font-size: 1.25rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section .menu-inspect-description-main-quantity-setquantity button:nth-child(2):hover {
  filter: none;
  cursor: auto;
}

@media screen and (max-width: 1500px) {
  .menu-inspect-container .menu-inspect-content {
    height: 97.5vh;
    width: 97.5vw;
    gap: 10rem;
  }
  .menu-inspect-container .menu-inspect-content .menu-inspect-close-icon {
    right: 2.5vh;
    top: 1.5vh;
  }
  .menu-inspect-container .menu-inspect-content .menu-inspect-image-section {
    height: 50%;
    width: 100%;
  }
  .menu-inspect-container .menu-inspect-content .menu-inspect-description-section {
    width: 90%;
  }
  .menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section button {
    padding: 1rem;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .menu-inspect-container .menu-inspect-content {
    height: 97.5vh;
    width: 97.5vw;
    gap: 2rem;
  }
  .menu-inspect-container .menu-inspect-content .menu-inspect-close-icon {
    right: 0.5vh;
    top: 0.5vh;
  }
  .menu-inspect-container .menu-inspect-content .menu-inspect-image-section {
    height: 50%;
    width: 100%;
  }
  .menu-inspect-container .menu-inspect-content .menu-inspect-description-section {
    width: 90%;
  }
  .menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section button {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
#bestSellers {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  font-size: 2rem;
}

#bestSellers-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito-Bold;
  gap: 3rem;
  width: 90%;
  height: 100%;
}

#bestSellers-content-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#bestSellers-content-titles h3 {
  font-family: Nunito-Regular;
}
#bestSellers-content-titles img {
  position: absolute;
  max-width: 15%;
  transform: rotateZ(-20deg);
  right: 5vw;
  z-index: 0;
}

#bestSellers-content-menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

#bestSellers-content-menu-navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 2.5rem;
  gap: 0.5rem;
}

.menu-nav-button:hover {
  cursor: pointer;
  filter: brightness(85%);
}

#bestSellers-content-menu-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}/*# sourceMappingURL=BestSellers.css.map */