@use "./Variables.scss" as *;

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

#faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 75vw;
}

#faq-content-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
        font-family: Nunito-Bold;
    }
}

#faq-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

    details {
        font-family: Nunito-SemiBold;
        background-color: $White;
        box-shadow: 0px 0px 0.5rem $Shadow;
        padding: 1rem;
        width: 100%;

        &:hover {
            filter: brightness(95%);

            .faq-plus-icon {
                transform: rotateZ(45deg);
            }
        }

        summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p {
            border-top: 0.1rem solid $Black;
            font-size: 1.5rem;
            padding: 1rem 0rem 0rem 0rem;
        }

      
    }

    details:hover {
        cursor: pointer;
    }
}