.highlighted {
  color: #FF9A1E;
}

:root {
  background-color: #F5F5F5;
  color-scheme: light only;
}

* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: #2D2D2D;
  transition: filter, translate, 0.15s;
}

html,
body {
  font-family: Nunito-Regular;
  overflow-x: hidden;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  background-color: #FEB45A;
}
html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background-color: #FF9A1E;
}

a:hover,
button:hover {
  cursor: pointer;
  filter: brightness(85%);
}

button {
  border: none;
  outline: none;
  z-index: 998;
}

.mobile {
  display: none;
}

.hidden {
  display: none;
}

.page {
  min-height: 90vh;
  min-width: 100vw;
  max-height: auto;
  margin-bottom: 2rem;
  padding-top: 5rem;
}

@font-face {
  font-family: Nunito-Bold;
  src: url("./assets/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: Nunito-Italic;
  src: url("./assets/fonts/Nunito-Italic.ttf");
}
@font-face {
  font-family: Nunito-Light;
  src: url("./assets/fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: Nunito-Medium;
  src: url("./assets/fonts/Nunito-Medium.ttf");
}
@font-face {
  font-family: Nunito-Regular;
  src: url("./assets/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url("./assets/fonts/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: Nunito-ExtraBold;
  src: url("./assets/fonts/Nunito-ExtraBold.ttf");
}
@media screen and (max-width: 1500px) {
  html,
body {
    font-size: 18px;
  }
  .mobile {
    display: inline;
  }
  #mobile-menu {
    display: flex;
    font-size: 3rem;
  }
  #mobile-menu-container {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    height: 100vh;
    width: 100vw;
    -webkit-animation: popup 0.15s linear forwards;
            animation: popup 0.15s linear forwards;
    border: 0.25rem solid #FF9A1E;
  }
  #mobile-menu-container #mobile-menu-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 90%;
    width: 90%;
  }
  #mobile-menu-container #mobile-menu-content #mobile-menu-close-icon {
    position: absolute;
    right: 5vw;
    top: 0;
    font-size: 5rem;
  }
  #mobile-menu-container #mobile-menu-content h1 {
    font-size: 3.5rem;
    font-family: Nunito-ExtraBold;
  }
  #mobile-menu-container #mobile-menu-content hr {
    width: 100%;
  }
  #mobile-menu-container #mobile-menu-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    gap: 1rem;
  }
  #mobile-menu-container #mobile-menu-content button {
    padding: 1rem 1.5rem;
    background-color: #FF9A1E;
    font-size: 2.5rem;
    font-family: Nunito-Bold;
    border-radius: 3rem;
  }
  #nav-options ul {
    display: none;
  }
  #nav-signup {
    display: none;
  }
  #welcomePage-content {
    gap: 2rem;
  }
  #welcomePage-content #welcomePage-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  #welcomePage-content #welcomePage-middle #welcomePage-image .welcomePage-side-icon-steak {
    display: none;
  }
  #welcomePage-content #welcomePage-middle #welcomePage-image .welcomePage-side-icon-hamburger {
    display: none;
  }
  #welcomePage-content #welcomePage-middle #welcomePage-image img {
    max-width: 7.5rem;
  }
  #welcomePage-content #welcomePage-middle #welcomePage-image img:nth-child(1) {
    max-width: 20rem;
  }
  #welcomePage-content .welcomePage-side-icon-hotdog {
    bottom: 13rem;
    left: 0rem;
    max-width: 7.5rem;
    display: none;
  }
  #welcomePage-content #welcomePage-bottom {
    width: 100%;
    justify-content: center;
  }
  #welcomePage-content #welcomePage-bottom #welcomePage-bottom-content {
    width: 90%;
  }
  #welcomePage-content .welcomePage-bottom-card {
    text-align: center;
  }
  /* #welcomePage-bottom {

      justify-content: center;


      #welcomePage-bottom-content {
          display: flex;
          flex-direction: column;
          gap: 2rem;
      }
  } */
  #bestSellers-content-menu-content {
    flex-direction: column;
    align-items: center;
  }
  .menu-card {
    width: 50vw;
    font-size: 2rem;
  }
  .menu-card button {
    font-size: 1.75rem;
  }
  #menu-content #menu-categories {
    font-size: 1.75rem;
  }
  #menu-content #tomato {
    top: 0vh;
  }
  .menu-card button {
    padding: 0.75rem 2rem;
    border-radius: 3rem;
    background-color: #FF9A1E;
    font-size: 1.5rem;
  }
  .menu-card-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #booking-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #booking-content #booking-header img {
    max-width: 7rem;
    bottom: 0vh;
    top: 0vh;
    left: -45vw;
    right: 0vw;
  }
  #booking-content #booking-description {
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  #our-Services-Cardholder {
    display: flex;
    flex-direction: column;
  }
  #our-Services-Cardholder .our-Services-Card {
    min-height: 30vh;
    max-width: 60vw;
  }
  #our-Services-Appholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  #our-Services-Appholder #our-Services-Appholder-Description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #our-Services-Appholder #our-Services-Appholder-Description #our-Services-Bigtitle {
    text-align: center;
  }
  #testimonials-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  #testimonials-reviews-container #testimonials-reviews-content #testimonials-reviews-content {
    gap: 2rem;
  }
  #testimonials-reviews-container #testimonials-reviews-content .testimonials-review-card {
    min-width: 65vw;
    min-height: 20vh;
  }
  #testimonials-reviews-container #testimonials-reviews-content .testimonials-review-card .testimonials-review-card-description .testimonials-review-card-description-main p {
    max-width: 45vw;
    font-size: 1.15rem;
  }
  #newsletter-content-title {
    text-align: center;
  }
  #faq-content-titles h2 {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  html, body {
    font-size: 14px;
  }
  .page {
    padding-top: 7.5rem;
  }
  #mobile-menu-container {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    height: 100vh;
    width: 100vw;
    -webkit-animation: popup 0.15s linear forwards;
            animation: popup 0.15s linear forwards;
    border: 0.25rem solid #FF9A1E;
  }
  #mobile-menu-container #mobile-menu-content #mobile-menu-close-icon {
    font-size: 3.5rem;
    right: 5vw;
  }
  #mobile-menu-container #mobile-menu-content h1 {
    font-size: 2.5rem;
    font-family: Nunito-ExtraBold;
  }
  #mobile-menu-container #mobile-menu-content hr {
    width: 100%;
  }
  #mobile-menu-container #mobile-menu-content ul {
    font-size: 1.75rem;
  }
  #mobile-menu-container #mobile-menu-content button {
    font-size: 1.5rem;
  }
  #welcomePage-message-title {
    font-size: 1.5rem;
  }
  #welcomePage-bottom {
    justify-content: center;
  }
  #welcomePage-bottom-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #welcomePage-bottom-content .welcomePage-bottom-card {
    min-height: 15vh;
  }
  #welcomePage-message-button {
    flex-direction: column;
  }
  #welcomePage-message-button button {
    font-size: 1.5rem;
    padding: 1rem;
  }
  #bestSellers-content {
    text-align: center;
  }
  #bestSellers-content-titles img {
    display: none;
  }
  #tomato {
    display: none;
  }
  .menu-card {
    width: 100%;
    min-height: 40vh;
  }
  #menu-titles {
    text-align: center;
  }
  #menu-content {
    width: 100%;
  }
  #menu-content #menu-categories {
    display: flex;
    justify-content: center;
    font-size: 1.15rem;
    width: 100%;
  }
  #our-Services-Titles {
    text-align: center;
    font-size: 1.85rem;
  }
  #our-Services-Titles p {
    font-size: 1.3rem;
  }
  .our-Services-Card {
    min-width: 75vw;
  }
  #our-Services-Appholder-MobileApps {
    display: flex;
    flex-direction: column;
  }
  #testimonials-titles {
    text-align: center;
  }
  #testimonials-reviews-container #testimonials-reviews-content .testimonials-review-card {
    min-width: 60vw;
    min-height: 25vh;
  }
  #newsletter-content-subscribe {
    width: 90vw;
  }
  #faq-content-main {
    font-size: 1.3rem;
  }
  #faq-content-main details p {
    font-size: 1.2rem;
  }
  #footer-content {
    text-align: center;
  }
  .footer-item h2 {
    font-size: 1.25rem;
  }
  #footer-main {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */