@use "./Variables.scss" as *;

:root {
    background-color: $Background;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: $Black;
    transition: filter, translate, 0.15s;
}

html,
body {
    font-family: Nunito-Regular;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        background-color: $LightOrange;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $Orange;
    }
}

a:hover,
button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

button {
    border: none;
    outline: none;
    z-index: 998;
}

.mobile {
    display: none;
}

.page {
    min-height: 90vh;
    min-width: 100vw;
    max-height: auto;
    margin-bottom: 2rem;
    padding-top: 5rem;
}

@font-face {
    font-family: Nunito-Bold;
    src: url("./assets/fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito-Italic;
    src: url("./assets/fonts/Nunito-Italic.ttf");
}

@font-face {
    font-family: Nunito-Light;
    src: url("./assets/fonts/Nunito-Light.ttf");
}

@font-face {
    font-family: Nunito-Medium;
    src: url("./assets/fonts/Nunito-Medium.ttf");
}

@font-face {
    font-family: Nunito-Regular;
    src: url("./assets/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: Nunito-SemiBold;
    src: url("./assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: Nunito-ExtraBold;
    src: url("./assets/fonts/Nunito-ExtraBold.ttf");
}

@media screen and (max-width: 1500px) {

    html,
    body {
        font-size: 18px;
    }

    .mobile {
        display: inline;
    }

    #nav-options ul {
        display: none;
    }

    #nav-signup {
        display: none;
    }

    #mobile-menu {
        display: flex;
        font-size: 3rem;
    }

    #welcomePage-content {
        gap: 2rem;

        #welcomePage-middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            #welcomePage-image {

                .welcomePage-side-icon-steak {
                    //bottom: 18rem;
                    //eft: 4rem;
                    display: none;
                }

                .welcomePage-side-icon-hamburger {
                    //bottom: 0rem;
                    //right: 10rem;
                    display: none;
                }

                img {

                    max-width: 7.5rem;

                    &:nth-child(1) {
                        max-width: 20rem;
                    }

                }

            }
    }

    .welcomePage-side-icon-hotdog {
        bottom: 13rem;
        left: 0rem;
        max-width: 7.5rem;
        display: none;
    }

    #welcomePage-bottom {
        width: 100%;
        justify-content: center;

        #welcomePage-bottom-content {
            width: 90%;
        }
    }

    .welcomePage-bottom-card {
        text-align: center;
    }
}
/* #welcomePage-bottom {

    justify-content: center;


    #welcomePage-bottom-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
} */


#bestSellers-content-menu-content {
    flex-direction: column;
    align-items: center;
}

.menu-card {
    width: 50vw;
    font-size: 2rem;

    button {
        font-size: 1.75rem;
    }
}


#menu-content {

    #menu-categories {
        font-size: 1.75rem;
    }

    #tomato {
        top: 0vh;
    }
}

#booking-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #booking-header img {
        max-width: 7rem;
        bottom: 0vh;
        top: 0vh;
        left: -45vw;
        right: 0vw;
    }

    #booking-description {
        align-items: center;
        width: 100%;
        padding: 1rem;
  
    }
}

#our-Services-Cardholder {
    display: flex;
    flex-direction: column;

    .our-Services-Card {
        min-height: 30vh;
        max-width: 60vw;
    }
}

#our-Services-Appholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    #our-Services-Appholder-Description {
        display: flex;
        flex-direction: column;
        align-items: center;
    #our-Services-Bigtitle {
        text-align: center;
    }
    }
}

#testimonials-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    #testimonials-reviews-content {

        #testimonials-reviews-content {
            gap: 2rem;
        }

        .testimonials-review-card {
            min-width: 60vw;
            min-height: 20vh;

            .testimonials-review-card-description {
                .testimonials-review-card-description-main {
                    p {
                        max-width: 45vw;
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}

#newsletter-content-title {
    text-align: center;
}

#faq-content-titles {
    h2 {
        text-align: center;
    }
}

}

@media screen and (max-width: 500px) { 

html, body {
    font-size: 14px;
}

.page {
    padding-top: 7.5rem;
}

#welcomePage-message-title {
    font-size: 1.5rem;
}

    #welcomePage-bottom {

    justify-content: center;
    }

    #welcomePage-bottom-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .welcomePage-bottom-card {
            min-height: 15vh;
        }
    }

#welcomePage-message-button {
    flex-direction: column;

    button {
        font-size: 1.5rem;
        padding: 1rem;
    }
   
}
#bestSellers-content {
    text-align: center;
}

#bestSellers-content-titles img {
    display: none;
}
#tomato {
    display: none;
}

.menu-card {
    width: 100%;
    min-height: 40vh;
}

#menu-titles {
    text-align: center;
}

#menu-content {
    width: 100%;
}

#menu-content #menu-categories {
    font-size: 1.15rem;
    width: 100%;
}

#our-Services-Titles {
    text-align: center;
    font-size: 1.85rem;
    p {
        font-size: 1.3rem;
    }
}

#our-Services-Appholder-MobileApps {
    display: flex;
    flex-direction: column;
}

#testimonials-titles {
    text-align: center;
}
#testimonials-reviews-container #testimonials-reviews-content .testimonials-review-card {
    min-width: 60vw;
    min-height: 25vh;
}

#newsletter-content-subscribe {
    width: 90vw;
}

#faq-content-main {
    font-size: 1.3rem;

    details {
        p {
            font-size: 1.2rem;
        }
    }
}

#footer-content {
    text-align: center;
}

.footer-item h2 {
    font-size: 1.25rem;
}

#footer-main {
    display: flex;
    flex-direction: column;
    
}
}