.highlighted {
  color: #FF9A1E;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.75rem;
  box-shadow: 0px 0px 0.5rem rgba(20, 20, 20, 0.35);
  -webkit-animation: popup 0.2s linear forwards;
          animation: popup 0.2s linear forwards;
  opacity: 0;
  width: 22.5%;
}

@-webkit-keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-card-image {
  display: flex;
  align-items: center;
  height: 60%;
}

.menu-card img {
  max-width: 12.5rem;
  max-height: 12.5rem;
  aspect-ratio: auto;
}

.menu-card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-card-upper-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}
.menu-card-upper-row span {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.menu-card-bottom-row {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.menu-card-bottom-row-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  font-size: 1rem;
}

.menu-card-bottom-row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
}

.menu-card button {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  background-color: #FF9A1E;
  font-size: 1.35rem;
}

.menu-card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 85%;
  gap: 0.5rem;
}
.menu-card-buttons .menu-details-button {
  border-radius: 5rem;
  background-color: #FF9A1E;
  color: #2D2D2D;
  font-size: 2.25rem;
  padding: 0.5rem;
}
.menu-card-buttons .menu-details-button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.menu-inspect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 998;
}
.menu-inspect-container .menu-inspect-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  height: 90%;
  width: 90%;
  padding: 2.5%;
  background-color: #F5F5F5;
  border: 0.5rem solid #FF9A1E;
  border-radius: 1rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-image-section {
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-image-section .menu-inspect-image-mini-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section h1 {
  font-family: Nunito-ExtraBold;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-ratings {
  display: flex;
  gap: 2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-ratings .menu-inspect-description-review-count {
  font-family: Nunito-SemiBold;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-price-section {
  display: flex;
  gap: 2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-price-section span:nth-child(1) {
  font-family: Nunito-Bold;
  color: #FEB45A;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-price-section span:nth-child(2) {
  text-decoration: line-through;
  font-size: 0.9rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-price-section span:nth-child(3) {
  font-family: Nunito-Bold;
  color: #FF9A1E;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.1rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section h2 {
  font-family: Nunito-ExtraBold;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-sizes {
  display: flex;
  gap: 2rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-sizes button {
  gap: 2rem;
  padding: 1rem 1.4rem;
  font-size: 1rem;
  background-color: #FEB45A;
  font-family: Nunito-ExtraBold;
  border-radius: 5rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section {
  display: flex;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section .menu-inspect-description-main-quantity-setquantity {
  background-color: #FEB45A;
  display: flex;
  gap: 1rem;
  border-radius: 5rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section .menu-inspect-description-main-quantity-setquantity button {
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background-color: #FEB45A;
  font-family: Nunito-ExtraBold;
  font-size: 1.25rem;
}
.menu-inspect-container .menu-inspect-content .menu-inspect-description-section .menu-inspect-description-main-section .menu-inspect-description-main-quantity-section .menu-inspect-description-main-quantity-setquantity button:nth-child(2):hover {
  filter: none;
  cursor: auto;
}

#menu {
  display: flex;
  justify-content: center;
}

#menu-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito-Bold;
  gap: 1.5rem;
  width: 90%;
  height: 100%;
  font-size: 2rem;
}
#menu-content #tomato {
  position: absolute;
  max-width: 15vw;
  left: 0;
  top: 7.5vh;
  transform: rotateZ(-10deg);
  z-index: 0;
}

#menu-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  z-index: 1;
}
#menu-titles h3 {
  font-family: Nunito-Regular;
  color: #FF9A1E;
}
#menu-titles h2 {
  font-family: Nunito-Bold;
}

#menu-categories {
  font-size: 1.5rem;
}
#menu-categories ul {
  display: flex;
  gap: 0.25rem;
  padding: 0rem 0rem;
  background-color: #FFFFFF;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.2rem 0.1rem rgba(20, 20, 20, 0.35);
  font-family: Nunito-SemiBold;
}
#menu-categories ul li {
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
}
#menu-categories ul li:hover {
  cursor: pointer;
  opacity: 0.7;
}
#menu-categories ul li:nth-child(1) {
  background-color: #FF9A1E;
}

#menu-dishes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  flex-wrap: wrap;
}/*# sourceMappingURL=Menu.css.map */