@use "./Variables.scss" as *;

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $White;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.75rem;
  box-shadow: 0px 0px 0.5rem $Shadow;
  animation: popup 0.20s linear forwards;
  opacity: 0;
  width: 22.5%;

}

@keyframes popup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu-card-image {
  display: flex;
  align-items: center;
  height: 60%;
}

.menu-card img {
  max-width: 12.5rem;
  max-height: 12.5rem;
  aspect-ratio: auto;
}

.menu-card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-card-upper-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;

  span {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  & span:nth-child(2) {
    display: none;
  }

}

.menu-card-bottom-row {
  display: flex;
  flex-direction: column;
  width: 75%;

}

.menu-card-bottom-row-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  font-size: 1rem;
}

.menu-card-bottom-row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
}

.menu-card button {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  background-color: $Orange;
  font-size: 1.35rem;
  font-family: Nunito-Bold;


}

.menu-card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 85%;
  gap: 0.5rem;

  .menu-details-button {
    border-radius: 5rem;
    background-color: $Orange;
    color: $Black;
    font-size: 2.25rem;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }
}

.menu-inspect-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  

  .menu-inspect-content {
   display: flex;
   flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 95%;
    width: 95%;
    padding: 2.5%;
    background-color: rgba(245, 245, 245, 0.98);
    border: 0.5rem solid $Orange;
    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

    .menu-inspect-close-icon {
      position: absolute;
      font-size: 5rem;
      right: 5vh;
      top: 2.5vh;

      &:hover {
        cursor: pointer;
        filter: brightness(80%);
      }
    }

    .menu-inspect-image-section {  // !!!!!!!!!!!!!!!!!!!!!!!!!!!
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      height: 90%;
      gap: 1rem;

      .menu-inspect-image-large-image {

      display: flex;
      justify-content: center;
      max-height: 90%;
      width: 100%;

      & img {
        max-width: 60%;
      }
       
      }
      

      .menu-inspect-image-mini-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        justify-items: center;
        align-content: center;


        & img {
          max-width: 80%;
        }

       
      }
    }

    .menu-inspect-description-section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 45%;
      font-size: 1.2rem;

      h1 {
        font-family: Nunito-ExtraBold;
        max-width: 85%;
      }

      .menu-inspect-description-ratings {
        display: flex;
        gap: 2rem;

        .menu-inspect-description-review-count {
          font-family: Nunito-SemiBold;
        }
      }

      .menu-inspect-description-price-section {
        display: flex;
        gap: 2rem;
        
        span {
          &:nth-child(1) {
            font-family: Nunito-ExtraBold;
            font-size: 1.75rem;
            color: $Black;
          }
          &:nth-child(2) {
            text-decoration: line-through;
            font-size: 0.9rem;
          }

          &:nth-child(3) {
            font-family: Nunito-Bold;
            color: $Orange;
          }
        }
      }

      .menu-inspect-description-main-section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: 1.2rem;

        h2 {
          font-family: Nunito-ExtraBold;
        }

        button {
          display: flex;
          justify-content: center;
          background-color: $Orange;
          max-width: 50%;
          padding: 1rem;
          border-radius: 1rem;
          font-family: Nunito-ExtraBold;
          font-size: 1.2rem;


        }

        .menu-inspect-description-main-sizes {
          display: flex;
          gap: 2rem;

          & button {
            gap: 2rem;
            padding: 1rem 1.4rem;
            font-size: 1.1rem;
            background-color: $LightOrange;
            font-family: Nunito-ExtraBold;
            border-radius: 5rem;
          }

        }

        .menu-inspect-description-main-quantity-section {
          display: flex;


          .menu-inspect-description-main-quantity-setquantity {
            background-color: $LightOrange;
            display: flex;
            gap: 1rem;
            //padding: 0.75rem 1.25rem;
            border-radius: 5rem;


            & span {
              padding: 1rem 1.5rem;
              border-radius: 1.5rem;
              background-color: $LightOrange;
              font-family: Nunito-ExtraBold;
              font-size: 1.25rem;

            }

            & button {
              padding: 1rem 1.5rem;
              border-radius: 1.5rem;
              background-color: $LightOrange;
              font-family: Nunito-ExtraBold;
              font-size: 1.25rem;

              &:nth-child(2):hover {
                filter: none;
                cursor: auto;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1500px) {
  .menu-inspect-container { 

    .menu-inspect-content { 
      height: 97.5vh;
      width: 97.5vw;
      gap: 10rem;

      .menu-inspect-close-icon {
        right: 2.5vh;
        top: 1.5vh;
      }

        .menu-inspect-image-section { 
            height: 50%;
            width: 100%;
        }

      .menu-inspect-description-section {
        width: 90%;

        .menu-inspect-description-main-section {
          & button {
            padding: 1rem;
            font-size: 1.3rem;
          }
        }
      }

     }

}
}

@media screen and (max-width: 500px) { 
  .menu-inspect-container { 

    .menu-inspect-content { 
      height: 97.5vh;
      width: 97.5vw;
      gap: 2rem;

      .menu-inspect-close-icon {
        right: 0.5vh;
        top: 0.5vh;
      }

        .menu-inspect-image-section { 
            height: 50%;
            width: 100%;
        }

      .menu-inspect-description-section {
        width: 90%;

        .menu-inspect-description-main-section {
          & button {
            padding: 1rem;
            font-size: 1.2rem;

          }
        }
      }

     }

}

}